@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #292D32;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  overflow: clip;
}

.app {
  height: 100%;
  display: flex;
}
.app .main {
  flex: 1 1 auto;
  background-color: #FAFBFF;
}

@media (max-width: 859.98px) {
  .wrapper {
    overflow: auto;
  }
}
@media (max-width: 767.98px) {
  .app {
    flex-direction: column;
  }
}
.link, .text-secondary, .text-primary {
  font-size: 14px;
  letter-spacing: -0.0088rem;
}

.text-primary {
  color: #292D32;
}

.text-secondary {
  color: #B5B7C0;
}

.link {
  color: #9197B3;
}

.sidebar {
  flex: 0 1 20%;
  display: flex;
  flex-direction: column;
  padding-block: 36px;
  padding-inline: 28px;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  position: relative;
}

.sidebar__logo {
  margin-block-end: 64px;
  padding-inline-end: 20px;
}

.logo {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.logo img {
  width: 37px;
  height: 37px;
}
.logo span {
  display: inline-block;
  color: #000;
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 0.0163rem;
  position: relative;
}
.logo span::before {
  position: absolute;
  content: "v.01";
  inset-block-end: 10%;
  inset-inline-end: -15%;
  color: #838383;
  font-size: 0.625rem;
  letter-spacing: -0.0063rem;
}

.menu {
  flex: auto;
}

.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.menu__icon {
  display: inline-block;
  flex: 0 0 24px;
  height: 24px;
  background-color: #9197B3;
  transition: background-color 0.3s ease-in-out;
}

.menu__link {
  width: 100%;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  border-radius: 8px;
  padding-inline: 11px 8px;
  padding-block: 11px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.menu__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-end: 8px;
  width: 16px;
  height: 16px;
  background-color: #9197B3;
  -webkit-mask: url("../img/aside/links/chevron-right.svg") no-repeat center;
  mask: url("../img/aside/links/chevron-right.svg") no-repeat center;
  transition: background-color 0.3s ease-in-out;
}
.menu__link.active-menu, .menu__link:hover {
  background-color: #5932EA;
}
.menu__link.active-menu .menu__link-text, .menu__link:hover .menu__link-text {
  color: #fff;
}
.menu__link.active-menu .menu__icon, .menu__link:hover .menu__icon {
  background-color: #fff;
}
.menu__link.active-menu::before, .menu__link:hover::before {
  background-color: #fff;
}

.menu__icon_1 {
  -webkit-mask: url("../img/aside/links/01.svg") no-repeat center;
  mask: url("../img/aside/links/01.svg") no-repeat center;
}

.menu__icon_2 {
  -webkit-mask: url("../img/aside/links/02.svg") no-repeat center;
  mask: url("../img/aside/links/02.svg") no-repeat center;
}

.menu__icon_3 {
  -webkit-mask: url("../img/aside/links/03.svg") no-repeat center;
  mask: url("../img/aside/links/03.svg") no-repeat center;
}

.menu__icon_4 {
  -webkit-mask: url("../img/aside/links/04.svg") no-repeat center;
  mask: url("../img/aside/links/04.svg") no-repeat center;
}

.menu__icon_5 {
  -webkit-mask: url("../img/aside/links/05.svg") no-repeat center;
  mask: url("../img/aside/links/05.svg") no-repeat center;
}

.menu__icon_6 {
  -webkit-mask: url("../img/aside/links/06.svg") no-repeat center;
  mask: url("../img/aside/links/06.svg") no-repeat center;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user__avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}
.user__avatar img {
  max-width: 100%;
}

.user__position {
  color: #757575;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0075rem;
}

.burger-icon {
  display: none;
}

@media (max-width: 1199.98px) {
  .sidebar {
    flex: 0 0 80px;
  }
}
@media (max-width: 1023.98px) {
  .sidebar__logo {
    padding-inline-end: 0;
    margin-block-end: 32px;
    justify-content: center;
  }
  .sidebar__logo span {
    display: none;
  }
  .user {
    flex-direction: column;
  }
  .user .user__body {
    text-align: center;
  }
  .user .user__body .user__name:not(:last-child) {
    margin-block-end: 4px;
  }
  .menu__link {
    justify-content: center;
    padding-inline: 11px;
  }
  .menu__link::before {
    display: none;
  }
  .menu__link-text {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .sidebar {
    padding-block: 0;
    flex-basis: 80px;
    flex-direction: row;
    -moz-column-gap: 35px;
         column-gap: 35px;
    align-items: center;
  }
  .menu__list {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .menu__list .menu__item {
    flex: 0 0 42px;
  }
  .user__body {
    display: none;
  }
  .sidebar__logo {
    margin-block-end: 0;
  }
}
@media (max-width: 599.98px) {
  .sidebar {
    justify-content: space-between;
    padding-inline: 40px 80px;
  }
  .sidebar__menu {
    background-color: rgba(226, 236, 249, 0.5);
    position: fixed;
    width: 60px;
    height: 100%;
    inset-block-start: 0;
    inset-inline-end: -100%;
    transition: all 0.4s ease-in-out;
    z-index: 10;
  }
  .sidebar__menu.show-menu {
    inset-inline-end: 0;
  }
  .menu__list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list .menu__item {
    width: 42px;
  }
  .burger-icon {
    position: absolute;
    display: block;
    width: 32px;
    height: 18px;
    inset-inline-end: 14px;
    background-color: transparent;
    z-index: 10;
  }
  .burger-icon span, .burger-icon::before, .burger-icon::after {
    height: 10%;
    content: "";
    position: absolute;
    inset-inline-start: 0;
    background-color: #736969;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  .burger-icon span {
    width: 75%;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }
  .burger-icon::before {
    width: 100%;
    inset-block-start: 0;
  }
  .burger-icon::after {
    inset-block-end: 0;
    width: 35%;
  }
  .burger-icon.show-menu {
    position: fixed;
  }
  .burger-icon.show-menu span {
    width: 0;
  }
  .burger-icon.show-menu::before {
    width: 100%;
    inset-block-start: 50%;
    transform: rotate(45deg) translateY(-50%);
  }
  .burger-icon.show-menu::after {
    width: 100%;
    inset-block-end: 50%;
    transform: rotate(-45deg) translateY(50%);
  }
}
.customers {
  padding-inline: 70px 95px;
  padding-block: 40px 36px;
}
.customers .customers__body {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.customers .customers__body .customers__greeting {
  color: #000;
  font-size: 1.5rem;
}

.dashboard-customers {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  padding-inline: 38px 44px;
  padding-block: 30px 40px;
}

.dashboard-customers__header {
  margin-block-end: 40px;
}

.header-customers-dashboard,
.footer-customers-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-customers-dashboard__title {
  color: #000;
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: -0.0138rem;
}
.header-customers-dashboard__title:not(:last-child) {
  margin-block-end: 6px;
}

.header-customers-dashboard__search {
  position: relative;
}
.header-customers-dashboard__search input {
  background-color: #F9FBFF;
  padding-block: 10px;
  padding-inline: 40px 8px;
  border-radius: 10px;
  color: #292D32;
}
.header-customers-dashboard__search input::-moz-placeholder {
  color: #B5B7C0;
  font-size: 0.75rem;
  letter-spacing: -0.0075rem;
}
.header-customers-dashboard__search input::placeholder {
  color: #B5B7C0;
  font-size: 0.75rem;
  letter-spacing: -0.0075rem;
}
.header-customers-dashboard__search::before {
  display: inline-block;
  content: "";
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-start: 8px;
  width: 24px;
  height: 24px;
  background: url("../img/product/search.svg") center 100% no-repeat;
}

.dashboard-customers__table {
  max-width: 100%;
  overflow-x: auto;
}

#table-customers {
  width: 100%;
  border-collapse: collapse;
}
#table-customers th {
  padding-block: 14px;
  text-align: start;
}
#table-customers td {
  padding-block: 24px;
  line-height: 1.57;
}
#table-customers th,
#table-customers td {
  border-bottom: 1px solid #eee;
  padding-inline: 15px;
}
#table-customers th:last-child,
#table-customers td:last-child {
  text-align: center;
}
#table-customers th:last-child span,
#table-customers td:last-child span {
  display: inline-block;
  max-width: 84px;
  width: 100%;
  border-radius: 4px;
  padding-inline: 14px;
  padding-block: 4px;
}

.dashboard-customers__footer {
  margin-block-start: 30px;
}

.footer-customers-dashboard {
  gap: 20px;
}

.pagination-dashboard-customers {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pagination-dashboard-customers__item {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #EEE;
  background-color: #F5F5F5;
  transition: all 0.3s ease-in-out;
  display: grid;
  place-items: center;
  color: #404B52;
  font-size: 0.75rem;
  letter-spacing: -0.0075rem;
}
.pagination-dashboard-customers__item.active-pagination, .pagination-dashboard-customers__item:hover {
  border: 1px solid #5932EA;
  background-color: #5932EA;
  color: #fff;
}

.arrow-left-icon {
  -webkit-mask: url("../img/product/arrow-left.svg") no-repeat center;
  mask: url("../img/product/arrow-left.svg") no-repeat center;
}

.arrow-right-icon {
  -webkit-mask: url("../img/product/arrow-right.svg") no-repeat center;
  mask: url("../img/product/arrow-right.svg") no-repeat center;
}

.arrow-left-icon,
.arrow-right-icon {
  width: 100%;
  height: 100%;
  background-color: #404B52;
  transition: background-color 0.3s ease-in-out;
}
.arrow-left-icon:hover,
.arrow-right-icon:hover {
  background-color: #fff;
}

[data-status=active] span {
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
}

[data-status=inactive] span {
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
}

@media (max-width: 1199.98px) {
  #table-customers td {
    border-right: 1px solid #eee;
  }
  #table-customers td,
  #table-customers th {
    text-align: center;
  }
}
@media (max-width: 1099.98px) {
  .customers {
    padding-inline: 30px 40px;
  }
}
@media (max-width: 1023.98px) {
  .customers {
    padding-inline: 20px;
  }
}
@media (max-width: 859.98px) {
  #table-customers th {
    display: none;
  }
  #table-customers td {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 24px;
    padding-block: 12px;
    padding-inline: 12px;
  }
  #table-customers td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
    color: #B5B7C0;
  }
  #table-customers td:last-child {
    text-align: center;
  }
  #table-customers td:last-child span {
    margin-inline: auto;
  }
  #table-customers tr:not(:first-child, :last-child) {
    border-bottom: 3px solid #eee;
  }
}
@media (max-width: 649.98px) {
  .footer-customers-dashboard {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .pagination-dashboard-customers {
    flex-wrap: wrap;
  }
}
@media (max-width: 549.98px) {
  .header-customers-dashboard {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
}
@media (max-width: 399.98px) {
  .header-customers-dashboard {
    text-align: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */